{% load widget_tweaks %}
{% load translate %}
{% csrf_token %}
{% include 'dashboard/shared/error_messages.html' with form=form %}
<div class="form-group">
  <div class="row">
    <div class="col-4">
      <label class="font-weight-semibold" for="{{ form.color.label}}">{{product.option_type.name}}:</label>
      <select name="option_value" class="form-control">
        {% for option_value in option_values %}
          {% if variant.option_value == option_value %}
            <option value="{{option_value.id}}" selected>{{option_value.value}}</option>
          {% else %}
            <option value="{{option_value.id}}">{{option_value.value}}</option>
          {% endif %}
        {% endfor %}
      </select>
    </div>

    <div class="col-4">
      <label class="font-weight-semibold" for="{{ form.stock.label}}">{{'Stock'|translate:lang}}:</label>
      {{ form.stock|add_class:"form-control"|attr:"placeholder: Stock" }}
    </div>

    <div class="col-4">
      <label class="font-weight-semibold" for="{{ form.quantity.label}}">{{'Price'|translate:lang}}:</label>
      {{ form.price|add_class:"form-control"|attr:"placeholder: Price" }}
    </div>
  </div>
</div>

<input type="hidden" name="product" value="{{product.id}}" />
<input type="hidden" name="color" value="Red" />

<div class = 'form-group'>
  <input type='submit' class = 'btn btn-success btn-sm' value ='Submit' />
</div>