{% extends 'dashboard/main.html' %}
{% block main_content %}
{% load widget_tweaks %}
{% load translate %}
    
    <div class="main-content">
        <div class="row">
            <div class = "col-lg-10">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">{{'Editing'|translate:lang}} {{user.name}}</h4>
                    </div>
                    <div class="card-body">
                        
                        <div class="m-t-10">
                            <form action = "{% url 'edit_user' user.id %}" method='post' enctype="multipart/form-data"> 
                                
                                {% csrf_token %}
                                {% include 'dashboard/shared/error_messages.html' with form=form %}
                                <div class="form-group">
                                    {% if user.biz_info_verified%}
                                        <h3 style="color:green""">Verified seller</h3>
                                    {% endif %}
                                    {% if user.biz_info_verified is False%}
                                        <h3 style="color:rgb(207, 51, 51)""">Unverified seller</h3>
                                    {% endif %}
                                    <div class="row">
                                        <div class="col-lg-4">
                                            
                                            <label class="font-weight-semibold" for="{{ form.name.label}}">{{'Name'|translate:lang}}:</label>
                                            {{ form.name|add_class:"form-control"|attr:"placeholder: Name" }}
                                        </div>
                                        <div class="col-lg-4">
                                            <label class="font-weight-semibold" for="{{ form.name.label}}">{{'Email'|translate:lang}}:</label>
                                            {{ form.email|add_class:"form-control"|attr:"placeholder: Email" }}
                                        </div>

                                        <div class="col-lg-4">
                                            <label class="font-weight-semibold" for="{{ form.country.label}}">{{'Country'|translate:lang}}:</label>
                                            {{ form.country|add_class:"form-control"|attr:"placeholder: Country" }}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <label class="font-weight-semibold" for="{{ form.name.label}}">{{'Phone Number'|translate:lang}}:</label>
                                            {{ form.phone_number|add_class:"form-control"|attr:"placeholder: Phone Number" }}
                                        </div>
                                        <div class="col-lg-6">
                                            <label class="font-weight-semibold" for="{{ form.name.label}}">{{'Password'|translate:lang}}:</label>
                                            {{ form.password|add_class:"form-control"|attr:"placeholder: Password"|attr:"type:password" }}
                                        </div>
                                    </div>
                                </div>
                                <input type="hidden" name="user_type" value="{{user.user_type}}" />
                                <input type="hidden" id="user_id" value="{{user.id}}" />
                                <!-- <input type="hidden" id="idcard" value="{{idcard}}" />
                                <input type="hidden" id="pob" value="{{pob}}" /> -->
                                {% if user.user_type == 'Seller' or user.user_type == 'Both' %}
                                    
                                    <h2>Seller Account Details</h2>
                                    <hr>
                                    <div class="form-group">
                                        <label class="font-weight-semibold" for="{{ form.name.label}}">{{'Company Name'|translate:lang}}:</label>
                                        {{ form.company_name|add_class:"form-control"|attr:"placeholder: Company Name" }}
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <label class="font-weight-semibold" for="{{ form.name.label}}">{{'Description'|translate:lang}}:</label>
                                                {{ form.company_description|add_class:"form-control"|attr:"placeholder: Description" }}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="row">
                                            
                                            <div class="col-lg-6">
                                                <label class="font-weight-semibold" for="{{ form.name.label}}">{{'Entity Type'|translate:lang}}:</label>
                                                {{ form.entity_type|add_class:"form-control"|attr:"placeholder: Entity Type" }}
                                            </div>

                                            <div class="col-lg-6">
                                                <label class="font-weight-semibold" for="{{ form.name.label}}">{{'Tax ID'|translate:lang}}:</label>
                                                {{ form.tax_id_number|add_class:"form-control"|attr:"placeholder: Tax ID" }}
                                            </div>
                                            
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <label class="font-weight-semibold" for="{{ form.name.label}}">{{'Bank Info'|translate:lang}}:</label>
                                                {{ form.bank_info|add_class:"form-control"|attr:"placeholder: Bank Info" }}
                                            </div>

                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <label class="font-weight-semibold" for="{{ form.name.label}}">{{'No. of Employees'|translate:lang}}:</label>
                                                {{ form.number_of_employees|add_class:"form-control"|attr:"placeholder: No. of Employees" }}
                                            </div>
                                            <div class="col-lg-4">
                                                <label class="font-weight-semibold" for="{{ form.name.label}}">{{'Year Founded'|translate:lang}}:</label>
                                                {{ form.year_founded|add_class:"form-control"|attr:"placeholder: Year Founded" }}
                                            </div>
                                        
                                            <div class="col-lg-4">
                                                <label class="font-weight-semibold" for="{{ form.name.label}}">{{'Gross Annual Income'|translate:lang}}:</label>
                                                {{ form.gross_annual_revenue|add_class:"form-control"|attr:"placeholder: Gross Annual Income" }}
                                            </div>
                                        </div>
                                    </div>
                                    
                                {% endif %}
                                
                                <div class = 'form-group'>
                                    <input type='submit' class = 'btn btn-success btn-sm' value ='Submit' />
                                </div>

                            </form>
                            



                        </div>
                    </div>
                </div>
            </div>
            {% include 'dashboard/users/sidebar.html' with user=user active_tab='details' %}
            <style>
                #rectangle {
                    height: 100%;
                    width: 100%;
                    
                }
                </style>
            <h2>Seller documentation</h2>
            <br>
            <div class="form-group">
                <div class="col-lg-12">
                    <h3>Ceo Id card</h3>
                    <br>
                    <div class="col-lg-4">
                        <img id="rectangle" src="http://165.232.185.232:8080/{{idcard}}"></div>
                    </div>
                    <br>
                    <h3>Business ownership attachment</h3>
                    <br>
                    <div class="col-lg-4">
                        <img id="rectangle" src="http://165.232.185.232:8080/{{pob}}"></div>
                    </div>
                </div>
                <div class = 'form-group'>
                    <input id="decline" type='submit' class = 'btn btn-warning btn-sm' value ='Decline' />&nbsp;
                    {% if user.biz_info_verified%}
                        <input disabled id="approve" type='submit' class = 'btn btn-success btn-sm' value ='Approve' />
                    {% endif %}
                    {% if user.biz_info_verified is False%}
                        <input id="approve" type='submit' class = 'btn btn-success btn-sm' value ='Approve' />
                    {% endif %}
                </div>
            </div>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
            <script>
                
                $(function(){
                    // let pob = document.getElementById('pob').value
                    // let idcard = document.getElementById('idcard').value
                    // alert(pob + idcard)
                    let user_id = document.getElementById('user_id').value
                    let element_approve = document.getElementById('approve')
                    let element_decline = document.getElementById('decline')
                    element_approve.addEventListener("click", approve);
                    element_decline.addEventListener("click", decline);
                    function approve() {
                     
                        return new Promise(function(resolve, reject) {
                            var url = `http://165.232.185.232:8000/api/v1/dashboard/verification/sellers/${user_id}`
                            fetch(url).then((response)=> {
                                return response.json();
                                })
                                .then((data)=> {
                                    if (data.status==true){
                                        alert("Seller was verified successfully")
                                        resolve(data.data)
                                    }
                                    else{
                                        alert("Seller verification failed")
                                    }
                                })
                                .catch(function(err) {});
                        })
                        
                    }

                    function decline() {
                        return new Promise(function(resolve, reject) {
                            var url = `http://165.232.185.232:8000/api/v1/dashboard/decline-verification/sellers/${user_id}`
                            fetch(url).then((response)=> {
                                return response.json();
                                })
                                .then((data)=> {
                                    if (data.status==true){
                                        alert("Seller documents have been declined")
                                        resolve(data.data)
                                    }
                                    else{
                                        alert("Seller verification failed")
                                    }
                                })
                                .catch(function(err) {});
                        })
                        
                    }
                });
            </script>
        </div>
        
    </div>
{% endblock %}
