{% extends 'dashboard/main.html' %}
{% block main_content %}
{% load translate %}
<div class="main-content">
  <div class="row">
    <div class = "col-lg-10">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">{{'Payment Cards'|translate:lang}}</h4>
        </div>
        <div class="card-body">
          <div class="m-t-10">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>{{'Card Number'|translate:lang}}</th>
                    <th>{{'Expiry'|translate:lang}}</th>
                  </tr>
                </thead>
                <tbody>
                  {% for credit_card in credit_cards %}
                  <tr>
                    <td>{{credit_card.id}}</td>
                    <td>{{credit_card.display_number}}</td>
                    <td>{{credit_card.exp_month}}/{{credit_card.exp_year}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>

            </div>
          </div>
        </div>
      </div>
    </div>
    {% include 'dashboard/users/sidebar.html' with user=user active_tab='addresses' %}

  </div>
</div>
{% endblock %}
