{% extends 'frontend/main.html' %}
{% load translate %}
{% block main_content %}
    {%  load static %}
    {%include 'frontend/_header.html'%}
    <main>
        <section class="login">
            <div class="container">
                <div class="form-wrap">
                    <div class="tabs">
                        <h3 class="login-tab" style='width: 100% !important;'><a class='active' href="#">{{'Validate OTP'|translate:lang}}</a></h3>
                    </div>
            
                    <div class="tabs-content">
            
                        <div id="login-tab-content" class='active'>
                            <form class="login-form" action="" method="post">
                                {% csrf_token %}
                                <input type="number" min='100000' max='999999' class="input" id="user_login" placeholder="OTP" name='otp' required>
            
                                <input type="submit" class="button" value="{{'Validate'|translate:lang}}">
                            </form>
                            <div class="help-text">
                                <p><a href="{% url 'login' b%}">{{'Login'|translate:lang}}</a> | <a href="{% url 'register' %}">{{'Sign Up'|translate:lang}}</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

{% endblock %}