{% load widget_tweaks %}
{% load translate %}
{% csrf_token %}
<div class="form-group">
  <div class="row">
    <div class="col-6">
      <label class="font-weight-semibold" for="{{ form.color.label}}">{{'First Name'|translate:lang}}:</label>
      {{ form.first_name|add_class:"form-control"|attr:"placeholder: First Name" }}
    </div>

    <div class="col-6">
      <label class="font-weight-semibold" for="{{ form.last_name.label}}">{{'Last Name'|translate:lang}}:</label>
      {{ form.last_name|add_class:"form-control"|attr:"placeholder: Last Name" }}
    </div>
  </div>
</div>
<div class="form-group">
  <div class="row">
    <div class="col-6">
      <label class="font-weight-semibold" for="{{ form.line_1.label}}">{{'Line 1'|translate:lang}}:</label>
      {{ form.line_1|add_class:"form-control"|attr:"placeholder: Line 1" }}
    </div>

    <div class="col-6">
        <label class="font-weight-semibold" for="{{ form.line_2.label}}">{{'Line 2'|translate:lang}}:</label>
        {{ form.line_2|add_class:"form-control"|attr:"placeholder: Line 2" }}
      </div>
  </div>
</div>

<div class="form-group">
  <div class="row">
    <div class="col-6">
      <label class="font-weight-semibold" for="{{ form.city.label}}">{{'City'|translate:lang}}:</label>
      {{ form.city|add_class:"form-control"|attr:"placeholder: City" }}
    </div>

    <div class="col-6">
      <label class="font-weight-semibold" for="{{ form.state.label}}">{{'State'|translate:lang}}:</label>
      {{ form.state|add_class:"form-control"|attr:"placeholder: State" }}
    </div>
  </div>
</div>
<div class="form-group">
  <div class="row">
    <div class="col-6">
      <label class="font-weight-semibold" for="{{ form.zipcode.label}}">{{'Zipcode'|translate:lang}}:</label>
      {{ form.zipcode|add_class:"form-control"|attr:"placeholder: Zipcode" }}
    </div>

    <div class="col-6">
      <label class="font-weight-semibold" for="{{ form.country.label}}">{{'Country'|translate:lang}}:</label>
      {{ form.country|add_class:"form-control"|attr:"placeholder: Country" }}
    </div>
  </div>
</div>


<div class = 'form-group'>
  <input type='submit' class = 'btn btn-success btn-sm' value ='Submit' />
</div>