{% load widget_tweaks %}
{% load translate %}

{% csrf_token %}

<div class="form-group">
    <label class="font-weight-semibold" for="{{ form.parent.label}}">{{'Parent'|translate:lang}}:</label>
    {{ form.parent|add_class:"form-control"|attr:"placeholder: Parent Category" }}
</div>

<div class="form-group">
    <label class="font-weight-semibold" for="{{ form.name.label}}">{{'Name'|translate:lang}}:</label>
    {{ form.name|add_class:"form-control"|attr:"placeholder: Name" }}
</div>

<div class="form-group">
    <label class="font-weight-semibold" for="{{ form.description.label}}">{{'Description'|translate:lang}}:</label>
    {{ form.description|add_class:"form-control"|attr:"placeholder: Description" }}
</div>

<div class="form-group">
    <label class="font-weight-semibold" for="{{ form.image.label}}">{{'Image'|translate:lang}}:</label>
    {{ form.image }}
</div>

<div class = 'form-group'>
    <input type='submit' class = 'btn btn-success btn-sm' value ='Submit' />
</div>